body {
    font-family: 'Open Sans', sans-serif !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu,ul.nav li.dropdown>ul.dropdown-menu:hover {
    display: block;
}
.navbar .dropdown-menu {
    margin-top: 0px;
}

body{
    color:#231f20;
}
.modal-body{
    height:auto;
    width:auto;
    max-height:100%;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
}

.modal{
    border-radius:0px;
    position:absolute;
}

.modal-body ul{
    padding-left:30px;
}
.modal-body input[type='text']{
    width:90%;
}


.modal-body ul>li>a{
    border-radius:0px !important;
    font-weight:bold;
    font-size:16px !important;
    color:#231f20 !important;
}
*{
    text-shadow:none !important;
    box-shadow:none !important;
}

.dropdown-menu{
    border-radius:0px;
    min-width: 138px;
}

.container-fluid {
    padding-right:0px;
    padding-left: 0px;
}

.uppercase .filter-option{
    font-weight:normal;
    text-transform:uppercase !important;
}

input[type='button']:disabled{
    color:white !important;
    background-color:#231f20 !important;
}

.btn{
    border:none;
    box-shadow:none;
    -moz-box-shadow: none;
}

input[type='button']{
    font-size:14px;
}

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas/BEBAS___-webfont.eot');
    src: url('../fonts/bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas/BEBAS___-webfont.woff') format('woff'),
    url('../fonts/bebas/BEBAS___-webfont.ttf') format('truetype'),
    url('../fonts/bebas/BEBAS___-webfont.svg#bebasregular') format('svg');

}

.bebas{
    font-family: 'bebasregular','Open Sans',sans-serif !important;
}

.brand{
    font-size:26px !important;
}

.yellowbg{
    background-color:#ffd400 !important;
}

.yellowfont{
    color:#ffd400 !important;
}

.uppercase{
    text-transform: uppercase !important;
}

.lowercase{
    text-transform: lowercase !important;
}

div#search-panel {
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 9%;
}

div#tickerwrapper {
    background-color: #231f20;
    color: #FFFFFF;
    width: 220px;
    text-align: center;
    font-size:12px !important;
    padding-top:6px;
    padding-bottom:6px;
    left:-8px;
}

div#locationwrapper {
    margin-top: 15px;
}

div#venuetypesmenu {
    text-align: center;
}

input.venuetypes {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 12px;
    font-weight: bold;
}

input.venuetypesselected {
    background-color: #231f20 !important;
    color: #ffd400 !important;
    background-image:none;
}

div#popularvenueswrapper p {
    float: left;
    text-align: center;
}

.locationselect {
    margin-left: 30px;
    width: 110px;
}

div.wrapper {
    margin-top: 20px;
}

.circleBase {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    behavior: url(PIE.htc);
    background: #ffd400;
    text-align: center;
    height: 110px;
    width: 200px;
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.search-button {
    margin-top: 15px;
    margin-left: 5px;
    padding: 10px;
    font-weight: bold;
}

footer {
    font-weight: normal;
}

.footer-desc {
    background-color: #231f20;
    padding-bottom: 60px;
    padding:20px;
}

.footer-disclaimer {
    color:#231f20;
    font-size: 12px;
    padding: 20px;
    height:100%;
}

.footer-links {
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-links:hover {
    text-decoration: none;
    cursor: pointer;
}

form input, form div {
    margin-right: 20px !important;
    margin-top: 5px;
}

form input {
    width: 130px;
}

input#id_occasion {
    width: 470px;
    margin-left: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0px;
}

form img {
    margin-right: 10px;
}

.arrow {
    margin-top: 10%;
    padding-left: 2%
}

.description {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size:16px !important;
    line-height:2em;
}

.btn-transparent {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-white {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #000000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.bootstrap-select button.btn-transparent span.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FFFFFF;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

label {
    font-weight: bold;
}

td {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

td img {
    width: 100%
}

.active > a {
    background: lightgrey !important;
}

.tab-content {
    background: lightgrey;
    padding: 10px;
}

.cmb-transparent {
    border: none !important;
}

.padding-bottom {
    padding-bottom: 5px;
}

.footer .padding-bottom{
    padding-bottom:10px;
}



.inner-container {
    padding: 1%;
    margin-bottom:80px;
}

#static_form, #completed_form {
    background-color: #231f20;
    color: white;
    padding:1%;
    box-sizing: border-box;
    margin-right:0px !important;
}

#static_form{
    padding:6px 12px;
}
.extra-options {
    margin-right: 0px !important;
    padding-left: 29px;
    background-position: left top;
    background-repeat: no-repeat;
}

.results .span6 {
    cursor: pointer;
}

.img-wrapper {
    position: relative;
    cursor: pointer;
    width:100%;
    height:100%;
}

.img-wrapper img {
    width: 100%;
}

.img-wrapper .image-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 12px;
    background-color: #231f20;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #ffd400;
    padding-top: 1%;
    padding-bottom:1%;
    box-sizing: border-box;
}

.uppercase .filter-option{
    text-transform:uppercase;
}

.lowercase .filter-option{
    text-transform:lowercase;
}

.img-wrapper .image-caption-flow {
    display: none;
    background-color: #ffd400;
    opacity: 0.8;
    filter: alpha(opacity=80);
    box-sizing: border-box;
    color: #414042;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.mag_glass {
    background-image: url('../img/superplanner/mag_glass.png');
    width:100%;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top:38%;
}

.img-wrapper:hover .image-caption {
    display: none;
}

.img-wrapper:hover .image-caption-flow {
    display: block;
}

.heading {
    margin-bottom: 30px;
}
.overlay {
    position: absolute;
    left: 82%;
    top: 0;
    text-align: center;
}

.wrapper {
    position: relative;
}

.hotel_name {
    background-color: #ffdf1a;
    font-size: 128.57%;
    line-height: 45px;
    padding-left: 2%;
    margin-bottom: 0px;
    font-weight: 600;
}

.hotel_details {
    background-color: #f2f5f2;
    padding-left: 2%;
}

.font_30 {
    font-size: 214.28%;
}
.font_12 {
    font-size: 85.71%;
}

.font_10 {
    font-size: 71.42%;
}

.font12{
    font-size:12px !important;
}

.font16{
    font-size:16px !important;
}

.font_800 {
    font-weight: 800;
}

.yellow_back {
    background: #ffdf1a;
}

#back_to_search {
    margin-bottom: 17px;
}

.sub-heading {
    margin: 5% 0%;
}

.rating {
    width: 17%;
    height: 53.57%;
    background-color: #231f20;
}

.rating_text {
    position: absolute;
    left: 1%;
    top: 18%;
    width: 100%;
}

.margin_bottom {
    margin-bottom: 5px;
    line-height: 50px;
}

.table_description {
    background-color: #414042;
    color: white;
    padding-left: 2%;
}

.table_data {
    background-color: #f1f1ee;
    padding-left: 2%;
}

.margin_left {
    margin-left: 0px !important
}

.text-subtle {
    color: #231f20 !important;
}

.hotel_name_plain {
    font-size: 12px;
    font-weight: bold;
}

.hotel_address1 {
    font-size: 12px;
}

.hotel_image {
    height: 100%;
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.label-sp {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #403f41;
    color: white;
}

.label-sp1 {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #808080 !important;
    color: white;
}

.label-nosp {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f1f1ee;
    text-align:left;
    margin-left:0 !important;
    border-right: 1px solid #fbdb3b;
}

.label-row{
    margin-top:2%;
}

.btn-gradient {
    background-image: -webkit-linear-gradient(right, #FFE053, #FFCE43);
    background-image: -moz-linear-gradient(right, #FFE053, #FFCE43);
    background-image: -o-linear-gradient(right, #FFE053, #FFCE43);
    background-image: -ms-linear-gradient(right, #FFE053, #FFCE43);
    background-image: linear-gradient(to right, #FFE053, #FFCE43);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE053', endColorstr='#FFCE43',GradientType=1 );
    font-weight: bold;
}

#id_occasion_textbox {
    color:#FFFFFF;
}

.ui-helper-hidden-accessible{
    display: none;
}

.ui-menu-item a {
    color: #FFFFFF;
}

.ui-menu-item {
    background-color: #231F20;
    width:480px;
}

ul{
    list-style-type: none;
}


input#id_occasion_textbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #FFFFFF;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    margin-left: 20px;
    width: 210px;
}

div.results div.span4{
    margin-bottom:30px;
    margin-left:0px;
    margin-right:1.7%;
}

.venuetypesmenuselected{

}
.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

.semibold{
    font-weight:600 !important;
}


[data-id="id_city"] .filter-option{
    font-weight:bold !important;
}

[data-id="id_locality"] .filter-option{
    font-weight:bold !important;
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #231f20;
    border-left: 6px solid #231f20;
    border-right: 6px solid #231f20;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

.btn-gradient:hover{
    background-image: -webkit-linear-gradient(right, #ffda00, #faa61a);
    background-image: -moz-linear-gradient(right, #ffda00, #faa61a);
    background-image: -o-linear-gradient(right, #ffda00, #faa61a);
    background-image: -ms-linear-gradient(right, #ffda00, #faa61a);
    background-image: linear-gradient(to right, #ffda00, #faa61a);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda00', endColorstr='#faa61a',GradientType=1 );
}

#header-nav li a:hover{
    color:#ffd400 !important;
}

[data-id="id_city"] span:first-child,[data-id="id_locality"] span:first-child{
    left:0 !important;
}