{% extends "venueregistration/header.html" %}
{% load admin_static %}
{% load dict_tags %}
{% block title %}About Us{% endblock %}
{% block extrastyle %}
<style type="text/css">
.form-item input{
    width:100%;
    background-color:#f2f2ee;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
}

.about{
    border-bottom:6px solid #ffd400;
    color:#ffd400 !important;
}
</style>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">

</script>
{% endblock %}

{% block content %}
    <div class="inner-container">
        <div class="row-fluid">
            <div class="span6" style="margin-top:3%;margin-bottom:3%;">
                <div class="yellowbg semibold" style="font-size:12px;padding-left:15px;padding-right: 15px;display:inline-block;padding-top:5px;padding-bottom:5px;">
                    ABOUT US
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div  style="font-size:30px;">
                    We love Superman. No, seriously.
                </div>
                <div style="font-weight:bold;margin-top:20px;">
                    AND THAT'S WHAT INSPIRED US AT SUPER PLANNER - SWIFT PROBLEM-SOLVING, WITH A TOUCH OF DELIGHT.
                </div>
                <div style="margin-top:20px;line-height:1.5em;">
                    We figured that finding a special place to host your event was a huge pain. It involved driving around town and checking out various options. We have made this entire process MUCH simpler for you - we offer you a host of verified venues for you to browse through, check out photographs and available amenities, and make an informed decision at your convenience.
                </div>
                <div style="margin-top:20px;line-height:1.5em;">
                    And how are we so good at this? Because we've been in the hospitality industry for years, actually, make that decades.
                </div>
                <div style="margin-top:20px;line-height:1.5em;">
                    And yep, we hope to become as iconic as Superman.
                </div>
            </div>
            <div class="span6 text-center">
                <img src="{% static 'img/superplanner/about.png' %}" style="vertical-align:middle;"/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" style="font-weight:bold;border-bottom:3px solid #4c494a;">&nbsp;</div>
        </div>
        <div class="row-fluid">
            <div class="span6" style="margin-top:3%;margin-bottom:3%;">
                <div class="yellowbg semibold" style="font-size:12px;padding-left:15px;padding-right: 15px;display:inline-block;padding-top:5px;padding-bottom:5px;">
                    THE TEAM
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" style="font-size:30px;">
                Keshav Baljee, Founder
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div style="margin-top:20px;line-height:1.5em;">
                    Keshav worked with Lehman Brothers and UBS as an investment banker in the USA, before returning to India to attend ISB. Keshav chose ISB over Columbia Business School and IIM-Bangalore, the only two other schools he applied to - a 100% success record.
                </div>
                <div style="margin-top:20px;line-height:1.5em;">
                    At ISB, Keshav was on the dean's list, and also was nominated amongst 420 students to lead the Academic Affairs Council. He was also elected to the Graduate Student Board.
                </div>
                <div style="margin-top:20px;line-height:1.5em;">
                    At Wharton, Keshav received offers from all top firms he applied to - Lehman Brothers, Merrill Lynch, Lazard, UBS and Deloitte, amongst others. His interviewing and resume creation skills are outstanding, as is evident from his 100% success record.
                </div>
                <div style="margin-top:20px;line-height:1.5em;">
                    Keshav is a co-Promoter of BSE/NSE listed Royal Orchid Hotels, one of India's fastest growing hotel chains, with 12 hotels in 6 cities. He has been featured prominently in various business periodicals - Business India, Economic Times, Business Standard, NDTV Profit, and others.
                </div>
                <div style="margin-top:20px;line-height:1.5em;">
                    Connect with Keshav<a href="https://twitter.com/keshav555" target="_blank" style="margin-left:25px;"><img style="vertical-align: middle;" src="{% static 'img/superplanner/keshav_tweet.png' %}"/></a><a style="margin-left:25px;" href="http://in.linkedin.com/in/keshavbaljee" target="_blank"><img style="vertical-align: middle;" src="{% static 'img/superplanner/keshav_in.png' %}"/></a>
                </div>
            </div>
            <div class="span6 text-center">
                <img src="{% static 'img/superplanner/keshav_about.png' %}" style="vertical-align:middle;"/>
            </div>
        </div>
    </div>
{% endblock %}
