{% extends "venueregistration/header.html" %}
{% load i18n %}{% load admin_static %}

{% block title %}Quote Confirmation{% endblock %}

{% block extrascript %}
{% endblock %}

{% block content %}
	<div id="confirmation-details" style="margin-left: 15px; margin-top: 2%;">
		<h2 style="font-size:30px;font-weight:normal;">Congratulations! <br />We wish you luck for your event!</h2>
		<h3 style="margin-top: 2%; margin-bottom: 10px;font-size:24px;font-weight:normal;">BOOKING ID: {{ quote_id }}</h3>
		<h5 class="span4" style="font-size:14px;font-weight:normal;margin-left:0px;margin-bottom:50px;">We have sent you an email with your booking details. The venues will get in touch with your directly to confirm your booking.</h5>
	</div>
{% endblock %}