{% extends "venueregistration/header.html" %}
{% load admin_static %}
{% load dict_tags %}
{% block title %}Contact Us{% endblock %}
{% block extrastyle %}
<style type="text/css">
.form-item input{
    width:100%;
    background-color:#f2f2ee;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
}

.contact{
    border-bottom:6px solid #ffd400;
    color:#ffd400 !important;
}
</style>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">

</script>
{% endblock %}

{% block content %}
    <div class="inner-container">
        <div class="row-fluid">
            <div class="span6" style="margin-top:3%;margin-bottom:2%;">
                <div class="yellowbg semibold" style="font-size:12px;padding-left:15px;padding-right: 15px;display:inline-block;padding-top:5px;padding-bottom:5px;">
                    CONTACT
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span5">
                <div style="font-size:30px;line-height:1.5em;margin-bottom:2%;">
                    Connect. Send us feedback. Get in touch. Or, just say hello.
                </div>
                <div style="margin-top:15px;">
                    <span class="semibold">EMAIL:</span><span style="margin-left:10px;">info@superplanner.in</span>
                </div>
            </div>
            <div class="span4 offset3">
                <div style="background-color:#f1f1ee;padding:30px;">
                    <div>
                        Connect with us >
                    </div>
                    <div style="margin-top:15px;">
                        <a href="#" style="margin-right:30px;"><img src="{% static 'img/superplanner/fb.png' %}"/></a><a href="#" style="margin-right:30px;"><img src="{% static 'img/superplanner/tweet.png' %}"/></a><a href="#" style="margin-right:30px;"><img src="{% static 'img/superplanner/in.png' %}"/></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" style="margin-top:30px;">
            <div class="span5">
                <form method="post" action="/contactsubmit/">
                    <div class="semibold">
                        NAME<span style="vertical-align:super;">*</span>
                    </div>
                    <div class="form-item">
                       <input type="text" name="name" value="" required autocomplete="off" />
                    </div>
                    <div class="semibold">
                        COMPANY
                    </div>
                    <div class="form-item">
                       <input type="text" name="company" value="" autocomplete="off" />
                    </div>
                    <div class="semibold">
                        EMAIL<span style="vertical-align:super;">*</span>
                    </div>
                    <div class="form-item">
                        <input type="email" name="email" value="" required autocomplete="off" />
                    </div>
                    <div class="semibold">
                        MOBILE
                    </div>
                    <div class="form-item">
                        <input type='tel' pattern='\d{10}' name="mobile" value="" autocomplete="off" />
                    </div>
                    <div class="text-right" style="font-style:italic;width:98.3%;">
                        <span style="vertical-align:super;">*</span><span>Required</span>
                    </div>
                    <div>
                        <input type="submit" style="font-size:16px !important;font-weight:bold; padding-top:2%;padding-bottom:2%;padding-left:5%;padding-right:5%;" class="btn btn-gradient" value="SUBMIT"/>
                    </div>
                </form>
            </div>
            <div class="span4 offset3">
                <div>
                    Know a great venue? We'd love to know.
                </div>
                <div style="margin-top:10px;">
                    <input type="button" class="btn btn-gradient" data-toggle="modal" data-target="#suggest-venue"  style="font-weight:bold;" value="SUGGEST A VENUE"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
