{% extends "venueregistration/header.html" %}
{% load i18n %}{% load admin_static %}

{% block title %}Contact Us{% endblock %}

{% block extrascript %}
{% endblock %}

{% block content %}
	<div id="confirmation-details" style="margin-left: 15px; margin-top: 2%;margin-bottom:2%;">
		<h2 style="font-size:30px;font-weight:normal;">
            {{ message }}
		</h2>

	</div>
{% endblock %}