{% extends "venueregistration/header.html" %}
{% load admin_static %}
{% load dict_tags %}
{% block title %}Food and Beverages{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        form input{
            width:200px;
        }
        div.inner-container{
            color:#231f20 !important;
        }

        div.package:hover{
            background-color:#ffd400 !important;
            border-radius:6px;
            -moz-border-radius:6px;
        }

        div.package{
            position: relative;
        }

        div.package div.overlay{
            display: none;
            background-color: #ffd400;
            opacity: 0.90;
            filter: alpha(opacity=90);
            box-sizing: border-box;
            color: #414042;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100%;

        }
        div.package:hover div.overlay{
            display:block;
        }

        input.option-radio:checked{

            background-color:#ffd400 !important;
        }

        #content li.desc:before {
            content:"·";
            font-size:20px;
            vertical-align:middle;
            line-height:20px;
        }
        input[type="radio"]:checked{display: none;}

        input[type="radio"]:checked + span{
            background: url('../static/img/superplanner/radio_1.png') no-repeat scroll 0 0 transparent;
            width: 17px;
            height:17px;
            background-size: cover;
            display:inline-block;
            vertical-align:middle;
        }

        input[type="radio"]{display: none;}
        input[type="radio"] + span{
            background: url('../static/img/superplanner/radio_2.png') no-repeat scroll 0 0 transparent;
            width: 17px;
            height:17px;
            background-size: cover;
            display:inline-block;
            cursor: pointer;
            vertical-align:middle;
        }
    </style>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{% static 'js/page/foodandbeverages.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="inner-container">
        <div class="row-fluid" style="margin-top:3%;margin-bottom:2%;">
            <div class="span6 text-subtle" style="font-size: 30px;">
                Add F&B to your quote >
            </div>
        </div>
        <div class="row-fluid" style="box-sizing:border-box;padding:1%;padding-left:0%;">
            {% for package in packages %}
                <div class="span4 package" style="margin-left:0px;margin-right:10px;cursor:pointer;margin-bottom:20px;" onclick="location.href='/quote/updatepackage?quote_id={{ quote.id }}&package_id={{ package.id }}'">
                    <div class="yellowbg" style="border-radius:6px;padding-top:5%;padding-bottom:5%;">
                        <div class="text-center">
                            {% if package.meal_type.id == 1 %}
                                <img src="{% static 'img/superplanner/drink-pack.png' %}"/>
                            {% else %}
                                <img src="{% static 'img/superplanner/meal_package.png' %}"/>
                            {% endif %}
                        </div>
                        <div class="text-center semibold" style="font-size:18px;margin-top:20px;">
                            {{ package.name }}
                        </div>
                    </div>
                    <div class="description" style="margin-top:10px;">
                        <ul style="margin-left:0px;">
                            {% for key,values in packageDescription.items %}
                                {% if key == package.id %}
                                    {% for value in values %}
                                        <li class="desc text-left" style="font-size:14px;">
                                            {{ value.description }}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="overlay text-center" style="">
                        <div style="font-size:18px;font-weight:bold;margin-top:16%;">I LIKE</div>
                        <div style="font-size:18px;font-weight:bold;">THIS MEAL PACKAGE</div>
                        <div style="font-size:14px;font-weight:bold;margin-top:10%;">ADD TO QUOTE</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="menu">
            <div class="row-fluid">
                <div class="span6" style="font-size:30px;margin-bottom:15px;">
                    Or, customise your meal >
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6" style="font-size:14px;">
                    Please select the number of items that you require for your menu. For your convenience, the recommended number has been pre-selected. Once you get a quote from SuperPlanner, the venue will contact you directly to finalize the menu selection.
                </div>
            </div>
            {% for mealCategory in mealCategories %}
                {% with mealCategory.id|slugify as meal_category_id %}
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="yellowbg" style="padding-right:15px;padding-left:15px;padding-top:5px;padding-bottom:5px;font-weight:bold;font-size:14px;display:inline-block;margin-top:20px;margin-bottom:10px;">
                                        {{ mealCategory.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    {% for mcItem in mealCategoryItem %}
                                        {% with mcItem.id|slugify as meal_category_item_id %}
                                            {% with mcItem.meal_category.id|slugify as mcId %}
                                                {% ifequal mcId  meal_category_id %}
                                                    <div class="row-fluid" style="background-color:#f1f1ee;margin-bottom:5px;padding-top:10px;">
                                                        <div class="span4 offset1">
                                                            {{ mcItem.meal_item.name }}
                                                        </div>
                                                        <div class="span7">
                                                            <div class="row-fluid">
                                                                {% for mciOption in mealCategoryItemOption %}
                                                                    {% with mciOption.meal_category_item.id|slugify as mciId %}
                                                                        {% ifequal mciId meal_category_item_id %}
                                                                            <div class="span2"><input class="option-radio" style="vertical-align:top;margin-right:5px;" type="radio" name="{{ mciId }}" value="{{ mciOption.id }}"/><span onclick="selectRadioButton(this)"></span><span style="padding-left:3px;vertical-align: middle;padding-bottom: 10px">{{ mciOption.meal_option.name }}</span></div>
                                                                        {% endifequal %}
                                                                    {% endwith %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endifequal %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                                <div class="span4">
                                    <div style="font-size:12px !important;font-weight:bold;margin-bottom:5px;">
                                        {% if mealCategory.how_to != None %}
                                            How to Choose:
                                        {% endif %}
                                    </div>
                                    <div style="font-size:12px !important;">
                                        {{ mealCategory.how_to|default_if_none:""|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        <div class="package_form" style="margin-top:100px;margin-bottom:30px;">

            <div class="row-fluid">
                <div class="span6">
                    <form method="post" action="/quote/updatepackage" style="display:inline-block;">
                        <input type="hidden" name="package-description" value="[]" id="package-description"/>
                        <input type="hidden" name="quote_id" value="{{ quote.id }}"/>
                        <input type="submit" id="update_quote" class="btn btn-gradient" style="font-weight:bold;margin-right:20px;" value="UPDATE QUOTE"/>
                    </form>
                    <form method="post" action="/quote/cancelfoodbev" style="display:inline-block;">
                        <input type="hidden" name="quote_id" value="{{ quote.id }}"/>
                        <input id="cancel_quote" type="submit" class="btn btn-gradient" style="font-weight:bold;" value="CANCEL"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
