{% extends "venueregistration/header.html" %}
{% load admin_static %}
{% load dict_tags %}
{% block title %}Quotes{% endblock %}
{% block extrastyle %}
<style type="text/css">
	form input{
		width:200px;
	}
</style>
{% endblock %}

{% block extrameta %}
<meta property="og:url" content="http://54.221.241.57"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="I have requested a quote for planning a gathering"/>
<meta property="og:description" content="I have requested a quote for {{ venue_string }} from SUPERPLANNER"/>

{% endblock %}


{% block extrascript %}
<script type="text/javascript">
	var username = " {{ username }} ";
	var url = {
		"background" : "{% static 'img/home-background.jpg' %}",
		"downArrow" : "{% static 'img/superplanner/down-arrow.png' %}"
	}
    var quote_id = '{{ quote.id }}'
</script>
<script type="text/javascript" src="{% static 'js/page/getquotes.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="inner-container">
    <div class="row-fluid" style="margin-top:3%;margin-bottom:2%;">
        <div class="span6 text-subtle" style="font-size: 30px;">
            Shortlisted venues
        </div>
        <div class="span6 text-right">
            <input type="button" class="btn btn-gradient" style="font-weight:bold;" onclick="location.href='{{back_to_search}}'" value="< BACK TO SEARCH RESULTS"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <div class="span3"></div>
            {% for key,value in selected_venues_with_pictures.items %}
                <div class="span3 text-center" style="margin-left:0 !important;">
                    <img src="/media/{{value.image}}" style="width:95%;">
                    <div class="text-left" style="font-weight:bold;margin-top:15px;margin-left:2.5%;">
                        {{ value.venue.name }}
                    </div>
                    <div class="text-left" style="margin-left:2.5%;">
                        {{ value.venue.address1 }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="span3"  style="background-color:#F1F1ED;padding:2%;">
            <div class="row-fluid"  style="margin-bottom:8%;font-size:14px !important;">
            	<div class="span12 semibold">
            		Share your shortlisted venues >
            	</div>            	
            </div>
            <div class="row-fluid">
            	<div class="span2">
            		<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?s=100&p[url]='+encodeURIComponent('http://www.superplanner.in')+'&p[title]='+encodeURIComponent('I have requested a quote for planning a gathering')+'&p[summary]='+encodeURIComponent('I have requested a quote for {{ venue_string }} from SUPERPLANNER'), 'facebook-share-dialog', 'width=626,height=436'); return false;"><img src="{% static 'img/superplanner/fb.png' %}"/></a>
            	</div>
            	<div class="span2">
            		<a href="#" onclick="window.open('http://twitter.com/share?text='+encodeURIComponent('I have requested a quote for {{ venue_string }} from SUPERPLANNER')+'&url=http://www.superplanner.in','twitter-share-dialog','width=626,height=436')"><img src="{% static 'img/superplanner/tweet.png' %}"/></a>
            	</div>
            	<div class="span2">
            		<a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url='+encodeURIComponent('http://www.superplanner.in')+'&title='+encodeURIComponent('I have requested a quote for planning a gathering')+'&summary='+encodeURIComponent('I have requested a quote for {{ venue_string }} from SUPERPLANNER'), 'facebook-share-dialog', 'width=626,height=436'); return false;"><img src="{% static 'img/superplanner/in.png' %}"/></a>
            	</div>
            	<div class="span2">
            		<img src="{% static 'img/superplanner/mail.png' %}"/>
            	</div>
            </div>
        </div>
    </div>
    <div class="row-fluid" style="margin-top:1%;">
        <div class="span9">
            <div class="row-fluid label-row">
                <div class="span3 label-sp">
                    Size
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ value.capacity }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid label-row">
                <div class="span3 label-sp">
                    Location
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ value.location.name }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid label-row">
                <div class="span3 label-sp">
                    Lighting
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ value.lighting }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid label-row">
                <div class="span3 label-sp">
                    Music
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ value.music }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid label-row">
                <div class="span3 label-sp">
                    Service
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ value.service }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid label-row">
                <div class="span3 label-sp">
                    Reviews
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ value.review_count }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid label-row">
                <div class="span3 label-sp label-sp1">
                    PAX
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ guests.minimum }} - {{ guests.maximum }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid  label-row">
                <div class="span3 label-sp label-sp1">
                    Cost/head
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ value.cost_per_head }}
                    </div>
                {% endfor %}
            </div>
            <div class="row-fluid label-row">
                <div class="span3 label-sp label-sp1" style="font-weight: bold;">
                    TOTAL
                </div>
                {% for key,value in selected_venues.items %}
                    <div class="span3 text-center label-nosp">
                        {{ guests.minimum|mult:value.cost_per_head }} - {{ guests.maximum|mult:value.cost_per_head }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% with related_venues_pictures|length as rel_len %}
            {% if rel_len > 0 %}
                <div class="span3" style="background-color:#F1F1ED;padding:2%;">
                    <div class="row-fluid" style="margin-bottom:8%;font-size:14px !important;">
                        <div class="span12 semibold">
                            Similar venues you may like >
                        </div>
                    </div>
                    {% for key,value in related_venues_pictures.items %}
                        <div class="row-fluid" style="margin-bottom:5%;cursor:pointer;" onclick="location.href='/venue?venue={{ key }}'">
                            <div class="span3">
                                <img src="/media/{{ value.image }}" style="width:100%;height:100%"/>
                            </div>
                            <div class="span7" style="font-size:12px !important;">
                                <div style="font-weight:bold;margin-top:8%;">
                                    {{ value.venue.name }}
                                </div>
                                <div>
                                    {{ value.venue.address1 }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row-fluid" style="margin-top:1%;">
        <div class="span6">
        	{% if user.is_authenticated %}
            <form method="post" action="/confirmation/">
                <input type="hidden" name="quote_id" value="{{ quote.id }}"/>
                <div class="row-fluid">
                    <div class="span2">
                        Include F&B
                    </div>
                    <div class="span9">
                        {{form.f_and_b}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        Name
                    </div>
                    <div class="span9">
                        {{form.name}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        Address
                    </div>
                    <div class="span9">
                        {{form.address}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        Company
                    </div>
                    <div class="span9">
                        {{form.company}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        Email
                    </div>
                    <div class="span9">
                        {{form.email}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        Mobile
                    </div>
                    <div class="span9">
                        {{form.mobile}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <input type="submit" class="btn btn-gradient" value="PROCEED"/>
                    </div>
                </div>
            </form>
            {% else %}
            	Please Login to Request a quote.
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
