{% load admin_static %}
{% load i18n %}
{% load dict_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}"  prefix="og: http://ogp.me/ns#">
<head>
    <title>{% block title %}{% endblock %} | {% trans 'Super Planner' %}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'css/bootstrap.css' %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block responsive-stylesheet %}{% static 'css/bootstrap-responsive.css' %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block custom_styles %}{% static 'css/custom.css' %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block selectbox_styles %}{% static 'css/bootstrap-select.css' %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block datepicker_styles %}{% static 'css/datepicker.css' %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block timepicker_styles %}{% static 'css/bootstrap-timepicker.css' %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block select2_styles %}{% static 'css/select2-bootstrap.css' %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{% block flipper_styles %}{% static 'css/jquery.flipper.css' %}{% endblock %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,700' rel='stylesheet' type='text/css'>
    
    {% block extrastyle %}{% endblock %}
    {% block extrameta %}{% endblock %}
</head>

<body>
<div class="container-fluid">
<div class="navbar navbar-inverse" style="margin-bottom:0px;background-color:#231f20 !important; line-height:60px;">
    <div class="navbar-inner" style="background-color:#231f20;background-image:url('{% static 'img/superplanner/down-arrow-head.png' %}');border:0;">
        <div class="row-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <a class="brand" href="/"><span class="bebas yellowfont" style="vertical-align: middle;">SUPER PLANNER</span></a>
            <div class="nav-collapse collapse pull-right" style=" font-size: 12px;">
                <ul id="header-nav" class="nav" style="padding-right: 10px; border-right:1px solid #FFFFFF; line-height: 60px !important; padding-top: 40px;">
                    <li>
                        <a href="/about" class="about" style="color:white;font-weight:normal;">ABOUT</a>
                    </li>
                    <li>
                        <a href="/contact" class="contact" style="color:white;font-weight:normal;">CONTACT</a>
                    </li>
                    <li style="margin-left: 0px; font-size: 15px; font-weight: bold;">
                        <a href="{% if user.is_authenticated %}#{% else %}{% url 'socialauth_begin' 'facebook' %}{% endif %}" style="color:white;"><img src="{% static 'img/superplanner/fb-log.png' %}" style="vertical-align:middle;" onmouseover="this.src='{% static 'img/superplanner/fb-log-hover.png' %}'" onmouseout="this.src='{% static 'img/superplanner/fb-log.png' %}'"/></a>
                    </li>
                    <li style="font-size: 15px; font-weight: bold;">
                        <a href="{% if user.is_authenticated %}#{% else %}{% url 'socialauth_begin' 'twitter' %}{% endif %}" style="padding-top:9px;"><img src="{% static 'img/superplanner/tweet-log.png' %}" style="vertical-align:middle;" onmouseover="this.src='{% static 'img/superplanner/tweet-log-hover.png' %}'" onmouseout="this.src='{% static 'img/superplanner/tweet-log.png' %}'"/></a>
                    </li>
                    <li style="font-size: 15px;">
                        <a href="{% if user.is_authenticated %}#{% else %}{% url 'socialauth_begin' 'linkedin' %}{% endif %}" style="color:white;"><img src="{% static 'img/superplanner/in-log.png' %}" style="vertical-align:middle;" onmouseover="this.src='{% static 'img/superplanner/in-log-hover.png' %}'" onmouseout="this.src='{% static 'img/superplanner/in-log.png' %}'"/></a>
                    </li>
                    <!--li style="font-size: 15px; font-weight: bold;"><a href="{% url 'socialauth_begin' 'linkedin' %}">in</a></li-->
                </ul>
                <ul class="nav" style="line-height: 60px !important; padding-top: 20px;margin-right: 20px;">
                    <li style="padding-top: 20px;display:{% if user.is_authenticated %}none{% else %}block{% endif %};">
                        <a id="login-button" class="yellowfont" href="{% if user.is_authenticated %}{% else %}#signupModal{% endif %}" role="button" data-toggle="modal" style="font-weight:normal;background-color:#231f20 !important;"> {% if user.is_authenticated %}

                        {% else  %}
                            LOG IN / SIGN UP
                        {% endif %} </a>
                    </li>
                    <li class="dropdown" style="background-color:#231f20 !important;display:{% if user.is_authenticated %}block{% else %}none{% endif %};">
                        <a id="logout-button" href="#" style="background-color:#231f20 !important;color:#ffd400 !important;">
                            {% if user.is_authenticated %}
                                HELLO<br> {{ user.first_name|upper }}!

                                <div style="position:absolute;top:57px;right:70%;">
                                    <img src="{% static 'img/superplanner/down-arrow-head.png' %}"/>
                                </div>
                            {% endif %}
                        </a>


                        <ul class="dropdown-menu" style="background-color: #231f20 !important;position:absolute;left:-11%;padding-bottom: 0;border: 0;">
                            <li>
                                <a href="/myaccount" style="background-color:#231f20 !important;color: #ffd400 !important;;">My Account</a>
                            </li>
                            <li>
                                <a href="/logout" style="background-color:#231f20 !important;color: #ffd400 !important;;">Log Out</a>
                            </li>
                            <li style="width:0;margin:10px 20px 0;border-bottom: 7px solid #fff;border-left: 7px solid transparent;border-right: 7px solid transparent;"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content" class="row-fluid">
    {% block content %}{% endblock %}
</div>
<div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:800px;">
    <!--div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div-->
    <div class="modal-body" style="">
        <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs" style="margin-bottom: 0px !important;">
                <li class="active">
                    <a href="#tab1" data-toggle="tab">NEW TO SUPERPLANNER?</a>
                </li>
                <li>
                    <a href="#tab2" data-toggle="tab">ALREADY HAVE AN ACCOUNT? SIGN IN.</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="row-fluid">
                        <div class="span6" style="margin-left:20px;">
                            <div class="control-group">
                                <label class="control-label semibold" for="name" style="font-size:12px !important;">NAME*</label>
                                <div class="controls">
                                    <input id="name" type="text">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label semibold" for="email" style="font-size:12px !important;">EMAIL ADDRESS*</label>
                                <div class="controls">
                                    <input id="email" type="text">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label  semibold" for="company" style="font-size:12px !important;">COMPANY <span style="font-size: 12px; font-style: italic;font-weight:700 !important;">(If you're booking on behalf of a company)</span></label>
                                <div class="controls">
                                    <input id="company" type="text">
                                </div>
                            </div>
                            <div>
                                <label class="control-label semibold" for="mobile" style="font-size:12px; !important">MOBILE NUMBER*</label>
                                <div class="controls">
                                    <input id="mobile" type="text">
                                </div>
                            </div>
                            <div class="control-group text-right" style="font-size: 12px !important;margin-right:10%;">
                                * Required
                            </div>
                            <div class="control-group">
                                <input id="signup" class="btn btn-gradient" type="button" value="CREATE MY ACCOUNT">
                            </div>
                            <div id="signup-error" class="alert alert-error"></div>
                        </div>
                        <div class="span1"></div>
                        <div class="span5">
                            <div class="control-group" style="font-size:16px;">
                                Please sign-up / log-in to view quotes from your shortlisted venues.
                            </div>
                            <div style="background: white; padding:10px; width:80%">
                                <div class="control-group" style="background: #cee5f4;">
                                    <a href="{% url 'socialauth_begin' 'twitter' %}" style="text-decoration: none !important; color: #186588;"><strong style="padding-left: 5px; padding-right: 10px;"><img src="{% static 'img/superplanner/tweet-log.png' %}" width="10px" height="12px"/></strong> <span style="font-size: 10px;">Sign in with Twitter</span></a>
                                </div>

                                <div class="control-group" style="background: #546a99;margin-top:20px">
                                    <a href="{% url 'socialauth_begin' 'facebook' %}" style="text-decoration: none !important; color: #ffffff;"><strong style="padding-left: 5px; padding-right: 10px;">f</strong> <span style="font-size: 10px;">Sign in with Facebook</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div style="margin-top: 10px; margin-bottom: 10px; border: 1px dotted grey;"></div>

                        <form method="post" action="/verify_user" onsubmit="verifyUser(); return false;">
                            <div class="span6" style="margin-left:20px;">
                                <input type="hidden" id="user_id" value="" required/>
                                <div style="font-size: 12px;">
                                    We've sent a verification code to your mobile number.
                                </div>
                                <div class="control-group" style="font-size: 12px !important;">
                                    Please enter that here >
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="otp" style="font-size:12px !important;">VERIFICATION CODE*</label>
                                    <div class="controls">
                                        <input id="otp" type="text"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="span5" style="margin-top:90px;">
                                <input class="btn btn-gradient" style="margin-bottom: 10px; margin-left: 10px;" type="submit" value="VERIFY">
                            </div>
                        </form>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="verify-error" class="alert alert-error"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="login" style="display:block;">
                        <div class="control-group">
                            <label class="control-label semibold" for="username">EMAIL ADDRESS</label>
                            <div class="controls">
                                <input id="username" type="text" style="width:220px !important;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label semibold" for="password">PASSWORD</label>
                            <div class="controls">
                                <input id="password" type="password" style="width:220px !important;">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input id="rememberme" type="checkbox" style="margin-left:10px;">
                                    Keep me signed in ¦ <a class="btn btn-link" href="#" onclick="showForgotPassword();">Forgot my password</a> </label>
                                <br />
                                <input id="login" class="btn btn-gradient" type="button" value="SIGN IN">
                            </div>
                        </div>
                        <div id="login-error" class="alert alert-error"></div>
                    </div>
                    <div class="forgot-password" style="display:none">
                        <div class="control-group">
                            <label class="control-label semibold" for="username">EMAIL ADDRESS</label>
                            <div class="controls">
                                <input id="fp-username" type="text" style="width:220px !important;">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label><a class="btn btn-link" href="#" onclick="showLogin();">Back to Login</a></label>
                                <input id="fp-fetch" class="btn btn-gradient" type="button" onclick="forgotPassword();" value="RETRIEVE MY PASSWORD">
                            </div>
                        </div>
                        <div id="fp-error" class="alert alert-error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="suggest-venue" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:500px;">
    <div class="modal-body">
        <div style="width:400px;padding:5%;">
            <div style="font-size:16px;font-weight:bold;margin-bottom:5%;">
                SUGGEST A VENUE
            </div>
            <form action="/submitvenues" onsubmit="suggestVenue();return false;" method="post" style="margin-right:0px !important;">
                <div style="font-weight:600;margin-right:0px !important;font-size:12px !important;">
                    YOUR NAME<span style="vertical-align:super;">*</span>
                </div>
                <div class="form-item" style="margin-right:0px !important;margin-top:0px !important;">
                    <input type="text" name="name" style="width:100%;font-size:12px !important;" value="" required />
                </div>
                <div style="font-weight:600;margin-right:0px !important;font-size:12px !important;">
                    VENUE NAME<span style="vertical-align:super;">*</span>
                </div>
                <div class="form-item" style="margin-right:0px !important;margin-top:0px !important;">
                    <input type="text" name="venue" style="width:100%;font-size:12px !important;" value="" required/>
                </div>
                <div style="font-weight:600;margin-right:0px !important;font-size:12px !important;">
                    VENUE LOCATION
                </div>
                <div class="form-item" style="margin-right:0px !important;margin-top:0px !important;">
                    <input type="text" name="location" style="width:100%;font-size:12px !important;" value=""/>
                </div>
                <div style="font-weight:600;margin-right:0px !important;font-size:12px !important;">
                    YOUR EMAIL<span style="vertical-align:super;">*</span>
                </div>
                <div class="form-item" style="margin-right:0px !important;margin-top:0px !important;">
                    <input type="email" name="email" style="width:100%;font-size:12px !important;" value="" required />
                </div>
                <div class="text-right" style="font-style:italic;margin-right:0px !important;font-size:12px !important;">
                    <span style="vertical-align:super;">*</span><span>Required</span>
                </div>
                <div>
                    <input type="submit" style="font-size:16px !important;padding-left:30px !important;padding-right:30px !important;font-weight:bold;" class="btn btn-gradient" value="SUBMIT"/>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="narrow container-fluid footer-desc yellowfont">
        <div class="row-fluid">
            <div class="span4 font16" style="line-height:2em;">
                Super Planner is the most convenient way to plan your event. We’’ll help you find the best venue for your wedding, cocktail party, board meeting, seminar or concert.
            </div>
            <div class="span2 offset2">
                <ul class="font12 unstyled">
                    <li class="padding-bottom">
                        SUPER PLANNER
                    </li>
                    <li class="padding-bottom">
                        All Venues
                    </li>
                    <li class="padding-bottom" onclick="location.href='/about'" style="cursor:pointer;">
                        About
                    </li>
                    <li class="padding-bottom" onclick="location.href='/contact'" style="cursor:pointer;">
                        Contact
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul class="font12 unstyled">
                    <li class="padding-bottom">
                        CONNECT
                    </li>
                    <li class="padding-bottom">
                        Facebook
                    </li>
                    <li class="padding-bottom">
                        Twitter
                    </li>
                    <li class="padding-bottom">
                        Linked In
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul class="font12 unstyled">
                    <li class="padding-bottom">
                        CONTACT
                    </li>
                    <li class="padding-bottom">
                        info@superplanner.in
                    </li>
                    <li class="padding-bottom">
                        +91 99724 00123
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin-left: 51.3%;margin-top:45px;">
            <span>Know a great venue? We'd love to know.</span>
            <input class="search-button btn btn-gradient" type="button" style="width:150px;border-radius:4px;margin-top:0px;font-size:12px !important;margin-left:15px;" data-toggle="modal" data-target="#suggest-venue" value="SUGGEST A VENUE">
        </div>
    </div>
    <div class="narrow container-fluid footer-disclaimer yellowbg" style="height:16px;">
        <div class="row-fluid">
            <div class="span4">
                © 2013 Super Planner Pvt Ltd. All rights reserved.
            </div>
            <div class="span5"></div>
            <div class="span3 text-right">
                <a href="#" class="footer-links">Terms and Conditions</a> | <a href="#" class="footer-links">Privacy</a>
            </div>
        </div>
    </div>
</footer>
</div>

<script type="text/javascript" src="{% block jqueryscript %}{% static 'js/jquery-1.9.1.js' %}{% endblock %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.66169.js' %}"></script>
<script type="text/javascript" src="{% static 'js/polyfill/polyfiller.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="{% block bootstrap_script %}{% static 'js/bootstrap.js' %}{% endblock %}"></script>
<script type="text/javascript" src="{% block selectbox_script %}{% static 'js/bootstrap-select.js' %}{% endblock %}"></script>
<script type="text/javascript" src="{% block datepicker_script %}{% static 'js/bootstrap-datepicker.js' %}{% endblock %}"></script>
<script type="text/javascript" src="{% block timepicker_script %}{% static 'js/bootstrap-timepicker.js' %}{% endblock %}"></script>
<script type="text/javascript" src="{% block select2_script %}{% static 'js/select2.min.js' %}{% endblock %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.raty.min.js' %}"></script>
<script type="text/javascript" src="{% block flipper_script %}{% static 'js/jquery.flipper.min.js' %}{% endblock %}"></script>
{% block util_script %}
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
{%endblock%}
{% block extrascript %}{% endblock %}

<script type="text/javascript">
    $.webshims.polyfill();
</script>
<script type="text/javascript">
    $("#login-error").hide();
    $("#signup-error").hide();
    $("#verify-error").hide();
    $("#fp-error").hide();
    $("#signup").click(function() {
        var data = {};
        data.name = $("input#name").val();
        data.email = $("input#email").val();
        data.password = $("input#enter-password").val();
        data.confirmpassword = $("input#re-enter-password").val();
        data.company = $("input#company").val();
        data.mobile = $("input#mobile").val();

        var stringData = JSON.stringify(data);
        var options = {
            url : "/signup/",
            type : "POST",
            data : stringData,
            success : function(data) {
                if (data.status != "Success") {
                    $("#signup-error").text(data.status);
                    $("#signup-error").show();
                    $("a#login-button").text("LOG IN / SIGN UP");
                } else {
                    $("#signup-error").hide();
                    $("input#user_id").val(data.user_id);
                    $("#signup-error").html("Please verify your account by entering the OTP from your email");
                    $("#signup-error").show();
                }
            }
        };

        $("#signup-error").html("Your account is being created please be patient");
        $("#signup-error").show();
        $("#verify-error").hide();
        sendPostRequest(options);
    });

    $("input#password").bind("keypress",function(e){
        if(e.keyCode == 13){
            $("#login").trigger("click");
        }
    })

    $("#login").click(function() {
        var data = {};
        data.username = $("input#username").val();
        data.password = $("input#password").val();
        data.rememberme = 0;

        if ($('#rememberme').is(':checked')) {
            data.rememberme = 1;
        }

        var stringData = JSON.stringify(data);

        var options = {
            url : "/login/",
            type : "POST",
            data : stringData,
            success : function(data) {
                if (data.status != "Success") {
                    $("#login-error").text(data.status);
                    $("#login-error").show();
                    $("a#login-button").text("LOG IN / SIGN UP");
                } else {
                    $("#login-error").hide();
                    // var lb = $("a#logout-button");
                    // $("a#logout-button").text("HELLO\n" + data.name.toUpperCase()+"!");
                    // $("a#logout-button").html(lb.html().replace(/\n/g,'<br/>')).append('<div style="position:absolute;top:56px;right:70%;"><img src="{% static 'img/superplanner/down-arrow-head.png' %}"/></div>');
                    // $("a#login-button").parent().hide();
                    // $("a#logout-button").parent().show();
                    // $('#signupModal').modal('hide');
                    location.href = location.href;
                }
            }
        };
        sendPostRequest(options);
    });


    function suggestVenue(){
        var modalParent = $("#suggest-venue");
        var name = modalParent.find("input[name='name']").val();
        var venue = modalParent.find("input[name='venue']").val();
        var location = modalParent.find("input[name='location']").val();
        var email = modalParent.find("input[name='email']").val();
        var options = {
            url:"/suggestvenue/",
            type:"POST",
            data:{name:name,venue:venue,location:location,email:email},
            success:function(){
                var modalParent = $("#suggest-venue");
                modalParent.find("input[name='name']").val("");
                modalParent.find("input[name='venue']").val("");
                modalParent.find("input[name='location']").val("");
                modalParent.find("input[name='email']").val("");
                modalParent.modal('hide');
            }
        }
        sendPostRequest(options);
    }

    {% comment %} $("#search-panel").vegas('slideshow', {
       backgrounds:[
         { src:'/static/img/home-background.jpg', fade:1000 },
         { src:'/static/img/home-background.jpg', fade:1000 },
         { src:'/static/img/home-background.jpg', fade:1000 }
       ],
        walk:function(step) {
         //alert( 'N°' +step+ ' is now displayed' );
       }
     })('overlay', {
       src:'/static/img/home-background.jpg'
     });{% endcomment %}
    $("")
</script>
</body>
</html>