{% extends "venueregistration/header.html" %}
{% load admin_static %}

{% block title %}{{ title }}{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        [data-id="id_city"],[data-id="id_locality"]{
            background-color:transparent !important;
            color:#fff !important;
        }



        .uppercase .filter-option{
            font-weight:normal;
            text-transform:capitalize;
        }

        .capitalize .filter-option{
            font-weight:normal;
            text-transform:capitalize
        }

        .lowercase .filter-option{
            text-transform:lowercase !important;
        }

        #content input[type='text']{
            border-radius:0px;
            color:black;
            border:0px;
        }

        button.dropdown-toggle{
            border-radius:0px !important;
        }

        .btn.venuetypes{
            border-radius:0px;
            border-radius:0px;
            padding-left:15px;
            padding-right:15px;
        }
        .selectBG{
            height:12px;
            width:12px;
            margin:4px;
            border:2px solid black;
            background-color: #FFE053;
            border-radius: 8px;
            cursor:pointer;
            /*background-image: url('/static/img/yellow.gif');*/
        }
        .selectedBG{
            background-color: #FFF;
            /*background-image: url('/static/img/white.gif') !important;*/

        }

        #change-city .filter-option{
            color:#231f20 !important;
            font-weight:normal !important;
        }

        #change-city .caret{
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #231f20;
            margin-top:5px;
        }

        .flipper{
            height:13px;
            display:inline-block;
        }
        .flipper .fl-num {
            background: linear-gradient(to bottom, #231F20 100%, #828C95 0%, #28343B 0%) repeat scroll 0 0 transparent;
            background-image: -webkit-linear-gradient(right, #231F20, #231F20);
            background-image: -moz-linear-gradient(right, #231F20,#231F20);
            background-image: -o-linear-gradient(right, #231F20, #231F20);
            background-image: -ms-linear-gradient(right, #231F20,#231F20);
            background-image: linear-gradient(to right, #231F20, #231F20);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##231F20', endColorstr='##231F20',GradientType=1 );
            /* background: -moz-linear-gradient(top, #231F20 0%, rgba(130,140,149,1) 0%, #231F20 100%);
                 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(0%,rgba(130,140,149,1)), color-stop(100%,#231F20));
                 background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,#231F20 100%);
                 background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,#231F20 100%);
                 background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,#231F20 100%);
                 background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,#231F20 100%);*/
        }


        button.s{
            background: #8F8;
        }
    </style>
{% endblock %}
{% block extrascript %}
    <script type="text/javascript" src="{% static 'js/page/home.js' %}"></script>

    <script type="text/javascript">
        var username = "{{ username }}";
        var url = {
            "background" : "{% static 'img/home-background.jpg' %}",
            "downArrow" : "{% static 'img/superplanner/down-arrow.png' %}"
        };
        var locality = "{{ form.locality.value }}";
        var occassion = "{{event_type_list}}";

        var imageUrls = ["/static/img/home-background.jpg", "/static/img/home-background.jpg","/static/img/home-background.jpg", "/static/img/home-background.jpg","/static/img/home-background.jpg"];
        var tickerText = ["CORPORATE PRESENTATIONS","WEDDINGS", "COCKTAIL PARTIES", "SEMINARS", "BIRTHDAY PARTIES"];
        var myInterval = null;
        var citiesArray = {};
        var known_location = "{{location}}";

    </script>
    <script type="text/javascript" src="{% static 'js/page/home.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="search-panel" class="row-fluid">
        &nbsp;
        <div id="tickerwrapper">
            CORPORATE PRESENTATIONS
        </div>
        <h1 style="margin-left: 30px; margin-top: 10px; color:#FFFFFF;font-size:32px;">PLANNING AN EVENT?</h1>
        <div id="search-form" style="margin-top: 25px; margin-left: 30px; color: #FFFFFF;float:left;width:94%;">
            <form action="#" method="get">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="uppercase" style="display:inline-block;">{{ form.city }}</div><div class="uppercase" style="display:inline-block;font-weight: bold;margin-left:25px;">{{ form.locality }}</div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div  class="span6" >
                    	<div class="uppercase" style="display:inline-block;">occasion</div><div style="display:inline-block;margin-top:1%;">{{ form.occasion }}</div>
                    </div>
                </div>
                <div class="row-fluid">

                    <div class="lowercase" style="margin-right:0% !important;display:inline-block;"><img src="{% static 'img/superplanner/calendar.png' %}" style="vertical-align:middle;width:20px;"> {{ form.date }}
                    </div>
                    <div class="lowercase" style="margin-left:0%;margin-right:0%; !important;display:inline-block;"><img src="{% static 'img/superplanner/time.png' %}" style="vertical-align:middle;width:20px;"> {{ form.time }}
                    </div>
                    <div class="lowercase" style="margin-left:0%; !important;display:inline-block;"><img src="{% static 'img/superplanner/guests.png' %}" style="vertical-align:middle;width:20px;"> {{ form.guests }}
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="lowercase" style="margin-right:0% !important;display:inline-block;"><img src="{% static 'img/superplanner/chair.png' %}" style="vertical-align:middle;width:20px;"> {{ form.seating }}
                    </div>
                    <div class="lowercase"  style="margin-right:0% !important;display:inline-block;"><img src="{% static 'img/superplanner/cloud.png' %}" style="vertical-align:middle;width:20px;margin-right:8px;"> {{ form.environment }}
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <input class="search-button btn btn-gradient" type="button" style="margin-left:30px;width:177px;" onclick="this.form.action='/search/'; this.form.submit();" value="START PLANNING!">
                    </div>
                    <div class="span5 text-right">
                        <input class="search-button btn btn-gradient" type="button" style="width:177px;border-radius:0px;" onclick="viewAllVenues();" value="VIEW ALL VENUES">
                    </div>
                </div>

            </form>
        </div>
        <div style="float:left;">
            <div onclick="changeBGCall(0);" class="selectBG selectedBG" id="selectBG0"></div>
            <div onclick="changeBGCall(1);" class="selectBG" id="selectBG1"></div>
            <div onclick="changeBGCall(2);" class="selectBG" id="selectBG2"></div>
            <div onclick="changeBGCall(3);" class="selectBG" id="selectBG3"></div>
            <div onclick="changeBGCall(4);" class="selectBG" id="selectBG4"></div>
        </div>
        <div style="clear:both"></div>
        <div class="row-fluid">
            <img src="{% static 'img/superplanner/home_arrow.png' %}" style="width:100%;"/>
        </div>
    </div>
    <div id="popularvenueswrapper" class="row-fluid" style="background-color:#F1F1EE;padding-bottom:40px;">
        <h2 id="popularvenues" style="text-align: center;font-weight: normal;font-size:32px;margin-bottom:25px;display:inline-block;margin-left: 33%;">Popular venues</h2>
        <div style="display:inline-block;height:28px;color:#231f20 !important;" id="change-city"></div>
        <div id = "venuetypesmenu" class="text-center">
            <div class="text-center">
                <div style="float:left;" rel="4">
                    <input class="btn btn-gradient venuetypes venuetypesselected" type="button" value="ALL"/>
                </div>
                <div style="float:left;" rel="5">
                    <input class="btn btn-gradient venuetypes" type="button" value="WEDDINGS"/>
                </div>
                <div style="float:left;" rel="6">
                    <input class="btn btn-gradient venuetypes" type="button" value="COCKTAIL PARTIES"/>
                </div>
                <div style="float:left;" rel="7">
                    <input class="btn btn-gradient venuetypes" type="button" value="SEMINARS"/>
                </div>
                <div style="float:left;" rel="8">
                    <input class="btn btn-gradient venuetypes" type="button" value="BOARD MEETINGS"/>
                </div>
                <div style="float:left;" rel="9">
                    <input class="btn btn-gradient venuetypes" type="button" value="CONCERTS"/>
                </div>
                <div style="float:left;" rel="10">
                    <input class="btn btn-gradient venuetypes" type="button" value="EXHIBITIONS/TRADE FAIRS"/>
                </div>
                <div style="float:left;" rel="11">
                    <input class="btn btn-gradient venuetypes" type="button" value="KIDDIE PARTIES"/>
                </div>
            </div>

        </div>
        <div style="padding-left:20px;padding-right:20px;">
            <div class="row-fluid" id="pop-list">
                <div class="span4">
                </div>
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:1.864102564102564%;">
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid text-center" style="margin-top:40px;">
                <a href="#" style="font-size:14px;font-weight:bold;color:black !important;text-decoration-color: none;" id="see-more">I WANT TO SEE MORE</a>
            </div>
        </div>

        <!-- <table style="width: 95%; margin: 20px;" class="table">
	<tbody>
	<tr>
	<td rowspan="2" colspan="2"><img src="{% static 'img/superplanner/venue-image-big.png' %}"></img></td>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	</tr>
	<tr>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	<td><img src="{% static 'img/superplanner/venue-image.png' %}"></img></td>
	</tr>
	</tbody>
	</table> -->
    </div>
    <div id="howitworkswrapper" class="wrapper" style="padding-left:20px;padding-right:20px;">
        <h2 style="text-align: center;font-size:30px;font-weight:normal;">How this works</h2>
        <div class="row-fluid">
            <div class="span3" style="margin-left:5%;">
                <img src="{% static 'img/superplanner/circle-1.png' %}" style="width: 100%">
                <br />
                <div class="description">
                    Give us details about the event you’re hosting - when is it, how many people you’re inviting, locality preference, date and time.
                </div>
            </div>
            <div class="arrow span1">
                <img src="{% static 'img/superplanner/arrow.png' %}" style="width: 50%">
            </div>
            <div class="span3">
                <img src="{% static 'img/superplanner/circle-2.png' %}" style="width: 100%">
                <br />
                <div class="description">
                    Based on your info, we’ll provide you awesome options of venues, where you could host your event.
                </div>
            </div>
            <div class="arrow span1">
                <img src="{% static 'img/superplanner/arrow.png' %}" style="width: 50%">
            </div>
            <div class="span3">
                <img src="{% static 'img/superplanner/circle-3.png' %}" style="width: 100%">
                <br />
                <div class="description">
                    Choose upto three venues to get an Instant Quote! The venues will contact you to take it forward immediately. You can even save your favourite venues and options for later use!
                </div>
            </div>
        </div>
    </div>
{% endblock %}