{% extends "venueregistration/header.html" %}
{% load admin_static %}
{% load dict_tags %}
{% block title %}My Account{% endblock %}
{% block extrastyle %}
<style type="text/css">
	.sp-tab {
		font-size: 18px;
		font-weight: 600;
		width: 19%;
		margin-right: 1%;
		padding-left: 0;
		padding-right: 0;
	}

	.selected {
		background: #231F20 !important;
		color: #FFD400 !important;
	}

	.display {
		margin-top: 10px;;
	}

	form input {
		width: 100%;
		margin-top: 0;
		padding: 10px !important;
	}

</style>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
	var tabindex = '{{ tabindex }}'

	$(function() {
		resizeTabs();
		$("div#th-"+tabindex).trigger("click");
	});

	$(window).resize(function() {
		resizeTabs();
	});

	function verifyUserAcount() {
		var userId = $("input#user_id").val();
		var otp = $("input#otp").val();
		var options = {
			url : "/verify_user/",
			type : "GET",
			success : function(data) {
				if (data.status != "Success") {
					$("#password-error").hide();
					$("#otp-error").html("The OTP you have entered is invalid.");
					$("#otp-error").show();
				} else {
					location.href = location.href;
				}
			},
			data : {
				user_id : userId,
				pin : otp
			},
			dataType : "json"
		}
		$("#password-error").hide();
		$("#otp-error").html("Verifying OTP please wait")
		$("#otp-error").show();
		sendGetRequest(options);
	}

	function resendVerfication() {
		var options = {
			url : "/resendotp/",
			type : "POST",
			success : function(data) {
				if (data.status != "Success") {
					$("#password-error").hide();
					$("#otp-error").html(data.message);
					$("#otp-error").show();
				} else {
					$("#password-error").hide();
					$("#otp-error").html(data.message);
					$("#otp-error").show();
				}
			},
			dataType : "json"
		}
		$("#password-error").hide();
		$("#otp-error").html("Your request is being processed")
		$("#otp-error").show();
		sendGetRequest(options);
	}

	function updatePassword() {
		var password = $("input#password").val();
		var confirm_password = $("input#confirm_password").val()
		var options = {
			url : "/updatepassword/",
			type : "POST",
			data : {
				password : password,
				confirm_password : confirm_password
			},
			dataType : "json",
			success : function(data) {
				if (data.status != "Success") {
					$("#otp-error").hide();
					$("#password-error").html(data.message);
					$("#password-error").show();
				} else {
					$("#otp-error").hide();
					$("#password-error").html(data.message);
					$("#password-error").show();
				}
			}
		}
		$("#otp-error").hide();
		$("#password-error").html("Updating your password please wait")
		$("#passowrd-error").show();
		sendPostRequest(options);
	}

	function openThisTab(div, index) {
		$('.sp-tab.selected').removeClass('selected');
		$(div).addClass('selected');
		var tab = "#tab-" + index;

		$('.display').addClass('hide');
		$('.display').removeClass('display');

		$(tab).removeClass('hide');
		$(tab).addClass('display');

	}

	function resizeTabs() {
		var maxHeight = 0;
		$('.sp-inner-tab').each(function() {
			if ($(this).height() > maxHeight)
				maxHeight = $(this).height();
		});

		$('.sp-inner-tab').each(function() {
			var diff = maxHeight - $(this).height();
			var pad = 10 + diff / 2;
			$(this).css('padding-top', pad);
			$(this).css('padding-bottom', pad);
		})
	}

	$(function() {
		$("#otp-error").hide();
		$("#password-error").hide();
	})
</script>
{% endblock %}

{% block content %}
<div class="inner-container">
	<div class="row-fluid">
		<div class="span6" style="margin-top:3%;margin-bottom:2%;font-size:30px;">
			My Account
		</div>
	</div>
	<div class="row-fluid" style="text-align: center">
		<div class="span12" style="margin-bottom: 20px">
			<div id="th-1" class="sp-tab pull-left btn btn-gradient" onclick="openThisTab(this,1)">
				<div class="sp-inner-tab">
					My Favourite Venues
				</div>
			</div>
			<div id="th-2" class="sp-tab pull-left btn btn-gradient" onclick="openThisTab(this,2)">
				<div class="sp-inner-tab">
					My Quotes
				</div>
			</div>
			<div id="th-3" class="sp-tab pull-left btn btn-gradient" onclick="openThisTab(this,3)">
				<div class="sp-inner-tab">
					Recently Viewed Venues
				</div>
			</div>
			<div id="th-4" class="sp-tab pull-left btn btn-gradient" onclick="openThisTab(this,4)">
				<div class="sp-inner-tab">
					Recently Shortlisted Venues
				</div>
			</div>
			<div id="th-5" class="sp-tab pull-left btn btn-gradient selected" onclick="openThisTab(this,5)">
				<div class="sp-inner-tab">
					My Account Details
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div id="tab-1" class="hide">
		<div class="row-fluid">
			<div class="span12">
				{% if favourites|length > 0 %}
				<div class="results">
					<div class="row-fluid" style="box-sizing:border-box;padding-top:1%;padding-bottom:1%;padding-left:1.6%;">
						{% for key,value in favourites.items %}
						<div class="span4">
							<div class="img-wrapper uppercase" onclick="location.href='/venue?venue={{key}}'">
								<a class href="/venue?venue={{key}}"><img src="/media/{{value.image}}" style=""/></a>
								<div class="image-caption">
									<div class="row-fluid">
										<div class="span6 text-left" style="padding-left:4%;">
											<div style="font-weight:bold;">
												{{value.venue.name}}
											</div>
											<div>
												{{value.venue.address1}}
											</div>
										</div>
										<div class="span6 text-right text-subtle" style="padding-right:2%;">
											<div style="font-size:10px;color:#a7a9ac;">
												Standard Package
											</div>
											<div style="font-size:16px;color:#a7a9ac;text-transform: capitalize">												
												Rs.&nbsp;{{value.venue.base_package_rate|floatformat:0}}												
											</div>
										</div>
									</div>
								</div>
								<div class="image-caption-flow text-center">
									<div class="mag_glass">
										&nbsp;
									</div>
									<div style="font-weight:bold;margin-top:4%;">
										{{value.venue.name}}
									</div>
									<div style="font-weight:bold;margin-top:4%;">
										{{value.venue.address1}}
									</div>
									<div style="margin-top:1%;">
										{{value.venue.address2}}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% else %}
				No Favourites Selected
				{% endif %}
			</div>
		</div>
	</div>

	<div id="tab-2" class="hide">
		<div class="row-fluid">
			<div class="span12">
				{% if quotes|length > 0 %}
					{% for key,value in quotes.items %}
				<div class="row-fluid" style="margin-bottom:4%;">
					<div class="span6">
						<div class="row-fluid" style="margin-bottom:2%;">
							<div class="span6 semibold" style="font-size:24px;padding-top:1%;">
								Shortlist {{ forloop.counter }}
							</div>
							<div class="span6 text-right" style="font-size:14px;">
								<a class="btn btn-gradient" style="width:30%;padding-top:2%;padding-bottom:2%;" href="/getquotedetails?quote_id={{key}}">View Details</a>
							</div>
						</div>
						<div class="row-fluid">
							{% for value1 in value %}
							<div class="span4">
								<div class="row-fluid">
									<div class="img-wrapper uppercase" onclick="location.href='/venue?venue={{value1.venue.id}}'">
										<a class href="/venue?venue={{value1.venue.id}}"><img src="/getimage/?venue_id={{value1.venue.id}}" style="width:100%;"/></a>
										<div class="image-caption-flow text-center">
											<div class="mag_glass" style="margin-top:30%;">
												&nbsp;
											</div>
											<div style="font-weight:bold;margin-top:4%;">
												{{value1.venue.name}}
											</div>
											<div style="font-weight:bold;margin-top:4%;">
												{{value1.venue.address1}}
											</div>
											<div style="margin-top:1%;">
												{{value1.venue.address2}}
											</div>
										</div>
									</div>
								</div>
								<div class="row-fluid">
									<div class="span12 text-left">
										<div style="font-weight:bold;">
											{{value1.venue.name}}
										</div>
										<div>
											{{value1.venue.address1}}
										</div>
										<div>
											Rs. {{value1.venue.base_package_rate}}
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				No Quotes available for the user
				{% endif %}
			</div>
		</div>
	</div>

	<div id="tab-3" class="hide">
		<div class="row-fluid">
			<div class="span12">
				{% if recently_viewed|length > 0 %}
				<div class="results">
					<div class="row-fluid" style="box-sizing:border-box;padding-top:1%;padding-bottom:1%;padding-left:1.6%;">
						{% for key,value in recently_viewed.items %}
						<div class="span4">
							<div class="img-wrapper uppercase" onclick="location.href='/venue?venue={{key}}'">
								<a class href="/venue?venue={{key}}"><img src="/media/{{value.image}}" style=""/></a>
								<div class="image-caption">
									<div class="row-fluid">
										<div class="span6 text-left" style="padding-left:4%;">
											<div style="font-weight:bold;">
												{{value.venue.name}}
											</div>
											<div>
												{{value.venue.address1}}
											</div>
										</div>
										<div class="span6 text-right text-subtle" style="padding-right:2%;">
											<div style="font-size:10px;color:#a7a9ac;">
												Standard Package
											</div>
											<div style="font-size:16px;color:#a7a9ac;text-transform: capitalize">												
												Rs.&nbsp;{{value.venue.base_package_rate|floatformat:0}}												
											</div>
										</div>
									</div>
								</div>
								<div class="image-caption-flow text-center">
									<div class="mag_glass">
										&nbsp;
									</div>
									<div style="font-weight:bold;margin-top:4%;">
										{{value.venue.name}}
									</div>
									<div style="font-weight:bold;margin-top:4%;">
										{{value.venue.address1}}
									</div>
									<div style="margin-top:1%;">
										{{value.venue.address2}}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% else %}
				No Recently Viewed Venues
				{% endif %}
			</div>
		</div>
	</div>

	<div id="tab-4" class="hide">
		<div class="row-fluid">
			<div class="span12">
				{% if shortlist|length > 0 %}
				<div class="results">
					<div class="row-fluid" style="box-sizing:border-box;padding-top:1%;padding-bottom:1%;padding-left:1.6%;">
						{% for key,value in shortlist.items %}
						<div class="span4">
							<div class="img-wrapper uppercase" onclick="location.href='/venue?venue={{key}}'">
								<a class href="/venue?venue={{key}}"><img src="/media/{{value.image}}" style=""/></a>
								<div class="image-caption">
									<div class="row-fluid">
										<div class="span6 text-left" style="padding-left:4%;">
											<div style="font-weight:bold;">
												{{value.venue.name}}
											</div>
											<div>
												{{value.venue.address1}}
											</div>
										</div>
										<div class="span6 text-right text-subtle" style="padding-right:2%;">
											<div style="font-size:10px;color:#a7a9ac;">
												Standard Package
											</div>
											<div style="font-size:16px;color:#a7a9ac;text-transform: capitalize">												
												Rs.&nbsp;{{value.venue.base_package_rate|floatformat:0}}												
											</div>
										</div>
									</div>
								</div>
								<div class="image-caption-flow text-center">
									<div class="mag_glass">
										&nbsp;
									</div>
									<div style="font-weight:bold;margin-top:4%;">
										{{value.venue.name}}
									</div>
									<div style="font-weight:bold;margin-top:4%;">
										{{value.venue.address1}}
									</div>
									<div style="margin-top:1%;">
										{{value.venue.address2}}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% else %}
				No Venues Shortlisted
				{% endif %}
			</div>
		</div>
	</div>

	<div id="tab-5" class="display">
		<div class="row-fluid">
			<div class="span6" style="margin-left:20px;">
				<div class="row-fluid">
					<div class="span7">
						<form action="/updatecontact/"  method="post" style="margin-right:0px !important;">

							<div>
								<label class="semibold" for="name" style="font-size:12px !important;">NAME*</label>
								<br/>
								<input id="name" name="name" type="text" required value='{{ user.first_name }}'>
							</div>

							<div>
								<label class="semibold" for="email" style="font-size:12px !important;">EMAIL ADDRESS*</label>
								<br/>
								<input id="email" name="email" type="text" required value="{{ user.email }}" readonly>
							</div>

							<div>
								<label class="semibold" for="company" style="font-size:12px !important;">COMPANY<span style="font-style: italic;">(If you're booking on behalf of a company)</span></label>
								<br/>
								<input id="company" name="company" type="text" value="{{ user.get_profile.company }}">
							</div>

							<div>
								<label class="semibold" for="mobile-number" style="font-size:12px !important;">MOBILE NUMBER*</label>
								<br/>
								<input id="mobile" name="mobile" type="text" pattern="\d{10}" required value="{{ user.get_profile.mobile_number }}">
							</div>

							<div class="text-right semibold" style="font-size: 12px !important;margin-right:0 !important;font-style: italic">
								* required
							</div>
							<div>
								<input type="submit" style="font-size:16px !important;padding-left:15px !important;padding-right:15px !important;font-weight:bold;" class="btn btn-gradient" value="UPDATE"/>
							</div>
						</form>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<hr/>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span7">
						<form action="/updatepassword/" onsubmit="updatePassword();return false;" method="post" style="margin-right:0px !important">
							<div>
								<label class="semibold" for="name" style="font-size:12px !important;">PASSWORD*</label>
								<br/>
								<input id="password" name="password" type="password" required value=''/>
							</div>

							<div>
								<label class="semibold" for="email" style="font-size:12px !important;">CONFIRM PASSWORD*</label>
								<br/>
								<input id="confirm_password" name="confirm_password" type="password" required value="" />
							</div>
							<div class="text-right semibold" style="font-size: 12px !important;margin-right:0 !important;font-style: italic">
								* required
							</div>
							<div>
								<input type="submit" style="font-size:16px !important;padding-left:15px !important;padding-right:15px !important;font-weight:bold;" class="btn btn-gradient" value="UPDATE PASSWORD"/>
							</div>
						</form>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div id="password-error" class="alert alert-error"></div>
					</div>
				</div>
				{% if is_verified == False %}
				<div class="row-fluid">
					<div class="span12">
						<hr/>
					</div>
				</div>
				<div class="row-fluid">
					<form method="post" action="/verify_user" onsubmit="verifyUserAcount(); return false;">
						<div class="span6" style="">
							<input type="hidden" id="user_id" value="{{user.id}}" required="">
							<div style="font-size: 12px;">
								We've sent a verification code to your mobile number. If you have not recieved it, <a href="javascript:void(0);" onclick="resendVerfication();">click here to resend the verification code</a>
							</div>
							<div class="control-group" style="font-size: 12px !important;">
								Please enter that here &gt;
							</div>
							<div class="control-group">
								<label class="control-label" for="otp" style="font-size:12px !important;">VERIFICATION CODE*</label>
								<div class="controls">
									<input id="otp" type="text" required="">
								</div>
							</div>
						</div>
						<div class="span5" style="margin-top:112px;">
							<input class="btn btn-gradient" style="margin-bottom: 10px; margin-left: 10px;" type="submit" value="VERIFY">
						</div>
					</form>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div id="otp-error" class="alert alert-error"></div>
					</div>
				</div>
				{% endif %}

			</div>

		</div>

	</div>
</div>
{% endblock %}