{% extends "venueregistration/header.html" %}
{% load admin_static %}
{% load dict_tags %}
{% block title %}Search Results{% endblock %}
{% block extrastyle %}
<style type="text/css">
	.uppercase .filter-option {
		font-weight: normal;
		text-transform: capitalize;
	}

	.lowercase .filter-option {
		text-transform: lowercase !important;
	}

	#content input[type='text'] {
		border-radius: 0px;
		color: black;
		border: 0px;
	}

	button.dropdown-toggle {
		border-radius: 0px !important;
	}

	.btn.venuetypes {
		border-radius: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.unselected .remove_btn {
		display: none !important;
	}

</style>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
	var locality = "{{ form_class.locality.value|default_if_none:1 }}"
	var username = " {{ username }} ";
	var url = {
		"background" : "{% static 'img/home-background.jpg' %}",
		"downArrow" : "{% static 'img/superplanner/down-arrow.png' %}"
	}
	$(document).ready(function() {
		var tempDateVal = $("#date").val();
		var x = tempDateVal.split("/");
		var tempDate = new Date(x[1] + "/" + x[0] + "/20" + x[2]);
		$("#date").val($.datepicker.formatDate('MM dd, yy', tempDate));
	}); 
</script>
<script type="text/javascript" src="{% static 'js/page/searchresults.js' %}"></script>
{% endblock %}

{% block content %}
<div class="inner-container">
	<div class="row-fluid" style="padding:1%;width:98%;background-color: #e7e6e4;margin-right:0px !important;" id="shortlist-holder">
		<div class="span3">
			You can shortlist <strong>upto 3 venues</strong> to compare their features, and review the quote.
		</div>
		<div class="span2 unselected">
			<div class="span4" style="box-sizing: content-box;position: relative; left: 0; top: 0;">
				<img class="hotel_image" src="{% static 'img/superplanner/new_hotel.png' %}" style="width:58px;height:58px;position: relative; top: 0; left: 0;"/>
				<img class="remove_btn" src="{% static 'img/superplanner/remove.png' %}" style="position:absolute;top:45px;left:48px;cursor:pointer;" onclick="removeFromShortlist(this)"/>
				<input type="hidden" class="venue_id" value="">
			</div>
			<div class="span7 offset1" style="box-sizing: content-box">
				<div class="hotel_name_plain uppercase">
					add another
				</div>
				<div class="hotel_address1 uppercase">
					<strong>VENUE</strong>
				</div>
			</div>
		</div>
		<div class="span2 unselected">
			<div class="span4" style="box-sizing: content-box;position:relative;left:0;top:0;">
				<img class="hotel_image" src="{% static 'img/superplanner/new_hotel.png' %}" style="width:58px;height:58px;position:relative;top:0;left:0;"/>
				<img class="remove_btn" src="{% static 'img/superplanner/remove.png' %}" style="position:absolute;top:45px;left:48px;cursor:pointer;" onclick="removeFromShortlist(this)"/>
				<input type="hidden" class="venue_id" value="">
			</div>
			<div class="span7 offset1" style="box-sizing: content-box">
				<div class="hotel_name_plain uppercase">
					add another
				</div>
				<div class="hotel_address1 uppercase">
					<strong>VENUE</strong>
				</div>
			</div>
		</div>
		<div class="span2 unselected">
			<div class="span4" style="box-sizing: content-box;position:relative;top:0;left:0;">
				<img class="hotel_image" src="{% static 'img/superplanner/new_hotel.png' %}" style="width:58px;height:58px;position:relative;top:0;left:0;"/>
				<img class="remove_btn" src="{% static 'img/superplanner/remove.png' %}" style="position:absolute;top:90%;left:90%;cursor:pointer;" onclick="removeFromShortlist(this)"/>
				<input type="hidden" class="venue_id" value="">
			</div>
			<div class="span7 offset1" style="box-sizing: content-box">
				<div class="hotel_name_plain uppercase">
					add another
				</div>
				<div class="hotel_address1 uppercase">
					<strong>VENUE</strong>
				</div>
			</div>
		</div>
		<div class="span2 pull-right text-right">
			<input id="shortlist-action" onclick="shortlist();" class=" btn btn-gradient" type="button" value="SHORTLIST" style="margin-top:10px;font-weight: bold;height:40px;width:125px;">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 text-subtle" style="font-size: 30px;margin-top:2%;margin-bottom:2%;display: inline-block;">
			{% if selected_venues %}
			{{ selected_venues|length }} venue{% if selected_venues|length > 1 %}s{% endif %} available
			{% else %}
			No Venues
			{% endif %}
		</div>
		<div class="pull-right" style="margin:1%;margin-right: 0%;">
			SORT BY &nbsp;
			<button class="btn dropdown-toggle btn-yellow" style="background-color:#ffd400;font-weight: bold;width:117px;">
				<span class="filter-option pull-left">RATING</span>
				<span class="caret pull-right"></span>
			</button>
		</div>
	</div>
	<div class="results">
		<div class="row-fluid" style="box-sizing:border-box;padding-top:1%;padding-bottom:1%;padding-left:1.6%;">
			{% for value in similar_venues_with_pictures %}
			<div class="span4">
				<div class="img-wrapper uppercase" onclick="location.href='/venue?venue={{value.venue.id}}'">
					<a class href="/venue?venue={{value.venue.id}}"><img src="/media/{{value.image}}" style=""/></a>
					<div class="image-caption">
						<div class="row-fluid">
							<div class="span6 text-left" style="padding-left:4%;">
								<div style="font-weight:bold;">
									{{value.venue.name}}
								</div>
								<div>
									{{value.venue.address1}}
								</div>
							</div>
							<div class="span6 text-right text-subtle" style="padding-right:2%;">
								<div style="font-size:10px;color:#a7a9ac;">
									Standard Package
								</div>
								<div style="font-size:16px;color:#a7a9ac;text-transform: capitalize">
									Rs.&nbsp;{{value.venue.base_package_rate|floatformat:0}}
								</div>
							</div>
						</div>
					</div>
					<div class="image-caption-flow text-center">
						<div class="mag_glass">
							&nbsp;
						</div>
						<div style="font-weight:bold;margin-top:4%;">
							{{value.venue.name}}
						</div>
						<div style="font-weight:bold;margin-top:4%;">
							{{value.venue.address1}}
						</div>
						<div style="margin-top:1%;">
							{{value.venue.address2}}
						</div>
					</div>
				</div>
				<div class="row-fluid" style="margin-top:2%;">
					<div class="span6 text-right pull-right">
						{%  if user.is_authenticated %}
						<img id="{{ value.venue.id }}-favourite" class="not-favourite" style="padding-right:0;height:17px;width:19px;margin-right:10px;" src="/static/img/superplanner/favourite.png" onclick="toggleFavourite(this,'{{ value.venue.id }}');">
						{% endif %}
						<input type="button" class="btn btn-gradient" id="{{ key }}-shortlist" onclick="addShortlist('{{value.venue.id}}','{{value.venue.name}}','{{value.venue.address1}}','{{value.image}}',this)" value="SHORTLIST" style="font-weight: bold;"/>

					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
