{% extends "venueregistration/header.html" %}
{% load i18n %}{% load admin_static %}

{% block title %}Details of {{venue.name}}{% endblock %}

{% block extrastyle %}
<style type="text/css">
    body{
        color:#231f20;
    }

.review-container{
    display:none;
}

.star{
    width:200px !important;
}
</style>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
	var username = " {{ username }} ";
	var url = {
		"background" : "{% static 'img/home-background.jpg' %}",
		"downArrow" : "{% static 'img/superplanner/down-arrow.png' %}"
	}
</script>
<script type="text/javascript" src="{% static 'js/page/venuedetails.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="inner-container " style="margin-left: 15px; margin-top: 2%;">
        <div class="row-fluid">
            <div class="span6">
                <div class="heading" style="font-size:30px;">
                    Venue details
                </div>
                <div class="wrapper">
                    <p class="hotel_name text-left uppercase" style="font-size:18px;">
                        {{venue.name}}
                    </p>
                    <div class="hotel_details">
                        <br>
                        <address>
                            {{venue.address1|safe}}
                            <br/>
                            {{venue.address2|safe}}
                            <br/>
                            {{venue.address3|safe}}
                        </address>
                        <div class="row-fluid">
                            <div class="span6" style="cursor:pointer">
                                <p class="text-left font_800"><a target="_blank" href="http://map.google.com?q={{ venue.lattitude }},{{ venue.longitude }}" style="text-decoration:none;color:inherit;"><img src="{% static 'img/superplanner/google_maps.png' %}"> Google Maps</a>
                                </p>
                            </div>
                            <div class="span3 offset3">
                                {% if user.is_authenticated %}
                                <p class="text-right" style="padding-right:12%;font-size:10px;">
                                    <img style="padding-right: 24%;cursor:pointer;" id="{{ venue.id }}-favourite" class="not-favourite"  src="{% static 'img/superplanner/favourite.png' %}" onclick="toggleFavourite(this,'{{ venue.id }}')">
                                    <br>
                                    Add to favourites
                                </p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="overlay text-center rating"><img  src="{% static 'img/superplanner/rating_star.png' %}">
                        <div class="rating_text">
                            {{ venue.rating|floatformat:"0" }}
                        </div>
                        <br>
                        <p class="" style="color:white;font-size:10px;">
                            Average rating
                            <br>
                            Based on 12 ratings
                        </p>
                    </div>
                </div>

                <div class="text-left font_800 sub-heading">
                    {{ venue.lead_text|safe }}
                </div>
                <div class="text-left">
                    {{ venue.extra_content|safe }}
                </div>
                <hr>

                <div class="row-fluid">
                    <div class="span6 heading" style="font-size:30px;">
                        Reviews
                    </div>
                    {% if user.is_authenticated  %}
                        <div class="span6">
                            <p class="btn yellow_back pull-right" id="write-review">
                                WRITE A REVIEW
                            </p>
                        </div>
                    {% endif %}
                </div>
                {% if user.is_authenticated  %}
                    <div class="row-fluid review-container" style="margin-bottom:20px;">
                        <form method="post" action="/submitreview">
                            <div class="span12">
                                Review:
                            </div>
                            <input type="hidden" name="venue_id" value="{{ venue_id }}"/>
                            <div class="span12" style="margin-left:0px;">
                                <textarea name="review" style="width:100%;height:200px;" required></textarea>
                            </div>
                            <div class="span12" style="margin-left:0px;">
                                <div class="star"></div>
                            </div>
                            <div class="span12" style="margin-left:0px;">
                                <input type="submit" class="btn btn-gradient" value="SUBMIT REVIEW"/>
                            </div>
                            <div class="span12" style="margin-left:0px;">
                                <hr>
                            </div>
                        </form>

                    </div>
                {% endif %}
                {% if venue_ratings.count > 0 %}
                    {% for vr in venue_ratings %}
                        <p class="text-left">
                            {{ vr.review }}
                        </p>

                        <div class="row-fluid">
                            <div class="span6" style="font-size:12px;">
                                <p class="text-left" style="text-transform: capitalize;">
                                    {{ vr.user.first_name }} {{ vr.user.last_name }} | {{ vr.created_at|date:"d M Y" }}
                                </p>
                            </div>
                            <div class="span6 star-rating" data-score="{{ vr.rating }}">

                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="span6">
                <div id="back_to_search" class="btn yellow_back pull-right font_800" onclick="location.href='{{ back_to_search }}'">
                    &lt;  BACK TO SEARCH RESULTS
                </div>
                <div class="row-fluid">
                    {% for displayPic in selected_venue_display_pic %}
                        <div class="span12">
                            <img src="/media/{{displayPic.image}}" style="width:100%;"/>
                        </div>
                    {% endfor %}
                </div>
                <p class="text-left" style="margin-top:20px;">
                    View Photos
                </p>
                <div class="row-fluid">
                    {% for pic in pictures %}
                        <div class="span2"><img src="/media/{{ pic.image }}" style="width:100%;"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
